$payrollpanda-font-family: Open Sans,
Arial,
Helvetica,
sans-serif;
$payrollpanda-font-size: 16px;
$payrollpanda-background-color: #ffffff;
$text-color: #555555;
$payrollpanda-primary-color: #34a00f;
$payrollpanda-secondary-color: #999999;
$link-text-color: #34a00f;